
.errors {
    color: #EF4243;
    font-weight: bold;
}

label {
    font-weight: bold;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 52px auto;
}

.btns a {
    font-size: 18px;
}
form .btns button{
    font-size: 18px;
}


.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 24px auto;
}

.data .inicio input {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    padding: 4px;
    border: 1.8px solid #ccc;
    margin-right: 12px;
}
.data .termino input {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    padding: 4px;
    border: 1.8px solid #ccc;
}