*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-weight: bold !important;
}


.btn-p{
    background-color: #EF4243;
    color: #fff;
}
.btn-p:hover{
    background-color: #bb3636;
    color: #fff;
}
.btn-p:active{
    border: 1px solid #EF4243 !important;
    color: #EF4243 !important;
    background: transparent !important;
}





/* ----------------------- NAVBAR ----------------------- */




.nav-item a{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-left: 32px;
}
.nav-item a:hover{
    color: #EF4243;
}

.nav-active{
    color: #EF4243 ;
}



/*
.navbar{
    width: 1116px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}
.navbar .btn-menumobile{
    display: none;
}

.navbar a{
    width: 308px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: red;
    margin: 8px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-left: 32px;
}
.navbar ul li a:hover{
    color: #EF4243;
}

#navbar-ativo{
    color: #EF4243;
}


/* ----------------------- FOOTER ----------------------- */
footer{
    width: 100%;
    height: 95px;
    background-color: #1E1E1E;
    margin-top: 15%;
}

.container-footer{
    width: 1116px;
    margin: 0 auto;
}

.conteudo-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
    padding: 6px;
}

/*  */
.titulo-pag{
    font-weight: bold;
    display: flex;
    align-items: center;
}




/* ------------------- */

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .navbar{
        width: 330px;
    }
    .navbar img{
        width: 180px;
        height:25px;
        margin-top: 5px;
    }

    .nav-list{
        margin: 0 auto;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height:10rem;
        background-color: #fff;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-bottom: 2px solid rgba(239, 66, 66, 0.384);
    }

    .navbar ul li{
        margin: 0 auto;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

     .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px,8px);
    }
    .mobile-menu.active .line2{
        opacity: 0;
    }
    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .container-footer{
        width: 330px;
    }
    .conteudo-footer{
        flex-direction: column;
        padding: 6px;
        justify-content: space-around;
    }

}