*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif !important;
}

h1,h2{
    font-weight: bold !important;
}


.custom-red{
    background-color: #EF4243 !important;
    color: #fff !important; 
}
.custom-red:hover{
    background-color: #bb3636 !important;
    color: #fff !important;
}
.custom-red:active{
    border: 1px solid #EF4243 !important;
    color: #EF4243 !important;
    background: transparent !important;
}

#btn-s {
    background-color: transparent;
    color: #EF4243;
    border: 2px solid #EF4243;
}

#btn-s:hover {
    background-color: #ccc;
    color: #EF4243;
}


/* ----------------------- NAVBAR ----------------------- */

.nav-item a{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.nav-item{
    margin-left: 24px;
}
.nav-item a:hover{
    color: #EF4243;
}

.nav-active{
    color: #EF4243 !important;
}

#navbar-ativo{
    color: #EF4243;
}

.login-container{
    width: 410px;
    margin: 0 auto;
}

.login-container .header p{
    font-size: 18px;
}

.navbar-brand{
    width: 180px !important;
}
.navbar-brand img{
    width: 100%;
}
.dropdown-item:active{
    background-color: #ccc !important;
}

/* ----------------------- FOOTER ----------------------- */
footer{
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
    margin-top: 8%;
    font-size: 13px;
    
}

footer a{
    text-decoration: underline !important;
}

footer a:hover{
    color: #EF4243 !important;
}








/* ------------------- */

@media (max-width: 768px) {
   .nav-item{
    text-align: center;
   }
}
