.container-contatos {
    margin: 0 auto;
    width: 1250px;
    padding-top: 150px;
}

#nome{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#email{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#assunto {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.status{
    width: 80px;
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table thead{
    background-color: #252525;
    color: #fff;
    border: none;
    height: 28px;
}

table td{
    padding: 6px;
    border:1px solid #ccc;
}


td a{
    text-decoration: none;
    font-weight: bold;
    color: #EB5757;
}
td a:hover{
    color: #9b3d3d;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }
  .search input{
    border: 1.5px solid #EB5757;
    border-radius: 4px 0px 0px 4px;
    width: 450px;
    height: 28px;
    padding-left: 6px;
  }
  .search input:focus-visible{
    outline: none;
  }
  .search button{
    width: 120px;
    height: 31px;
    border-radius: 0px 4px 4px 0px;
    background-color: #EB5757;
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-left: -8px;
  }
  .search button:hover{
      background-color: #ac3f3f;
  }