.container {
  width: 1116px;
  margin: 0 auto;
  /* border: solid pink; */
  padding-top: 170px;
}


.container-projeto {
  width: 100%;
  min-height: 800px;
}


.container-projeto .titulo-projeto {
  width: 100%;
  min-height: 68px;
  margin-bottom: 24px;
  text-align: center;
}

/* .container-projeto .data{
  width: 100%;
  height: 30px;
  background-color: red;
} */

.titulo-projeto {
  padding-top: 100px;
}






.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  margin: 32px auto;
}


.btns form button {
  color: #fff;
}

.btns form button:hover {
  color: #fff
}


@media (max-width: 768px) {
  .container {
    width: 375px;
    margin: 0 auto;
    ;
  }


  .titulo-projeto {
    width: 100%;
    min-height: 68px;
    margin-bottom: 24px;
    white-space: normal;
  }


  .projeto {
    flex-direction: column-reverse;
  }

  .projeto .foto-projeto .foto-principal img {
    width: 375px;
    height: 200px;
  }

  .projeto .foto-projeto .foto-secundaria img {
    width: 375px;
    height: 200px;
  }

  .btns {
    width: 375px;
  }
}